# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*
upload/win/*
upload/linux/*
upload/mac/*
node/objet
node/tests
web/results/*
node/jobs/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml
